button {
  border: none;
  color: white;
  height: 100px;
  width: 100px;
  margin: 2px;
}
.red {
  background-color: #e51400;
}
.green {
  background-color: #60a917;
}
.blue {
  background-color: #1ba1e2;
}
.yellow {
  background-color: #e3c800;
}
.purple {
  background-color: #aa00ff;
}
.orange {
  background-color: #fa6800;
}
