body {
  background: #111;
  overflow: hidden;
  color: #FFF;
  text-align: center;
  font-family: system-ui, -apple-system;
}

a {
  color: inherit;
}

h1 {
  font-weight: lighter;
}

#svg {
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate3d(-50%, -50%, 0);
}

footer {
  position: absolute;
  bottom: .5em;
  width: 100%;
}
